@theme {

  --nc-attachment-trigger-color: var(--nc-color-primary);
  --nc-attachment-trigger-color-hover: var(--nc-color-primary-dark);
  --nc-attachment-disabled-opacity: 0.5;
  --nc-attachment-transition-duration: 0.3s;

  --nc-attachment-file-padding: theme('padding.3');
  --nc-attachment-file-shadow: theme('boxShadow.sm');

  --nc-attachment-file-color-normal: theme('colors.gray.300');
  --nc-attachment-file-color-pending: var(--nc-primary-color);
  --nc-attachment-file-color-uploading: var(--nc-warning-color);
  --nc-attachment-file-color-success: var(--nc-success-color);
  --nc-attachment-file-color-error: var(--nc-danger-color);
  --nc-attachment-file-border-radius: theme('borderRadius.md');
}

@layer components {
  .nc-attachment {
    display: block;
  }

  .nc-attachment .nc-attachment-trigger {
    color: var(--nc-attachment-trigger-color);
    cursor: pointer;
  }

  .nc-attachment .nc-attachment-trigger:hover {
    color: var(--nc-attachment-trigger-color-hover);
  }

  .nc-attachment.disabled .nc-attachment-trigger {
    opacity: var(--nc-attachment-disabled-opacity);
    cursor: not-allowed;
  }

  .nc-attachment.readonly .nc-attachment-trigger {
    display: none;
  }

  .nc-attachment .nc-attachment-file {

    --nc-attachment-file-color: var(--nc-attachment-file-color-normal);

    position: relative;
    border-radius: var(--nc-attachment-file-border-radius);
    border: 1px solid oklch(from var(--nc-attachment-file-color) l c h / 0.5);
    padding: var(--nc-attachment-file-padding);
    box-shadow: var(--nc-attachment-file-shadow);
    background-color: oklch(from var(--nc-attachment-file-color) l c h / 0.05);
  }

  .nc-attachment .nc-attachment-file.pending {
    --nc-attachment-file-color: var(--nc-attachment-file-color-pending);
  }

  .nc-attachment .nc-attachment-file.uploading {
    --nc-attachment-file-color: var(--nc-attachment-file-color-uploading);
  }

  .nc-attachment .nc-attachment-file.success {
    --nc-attachment-file-color: var(--nc-attachment-file-color-success);
  }

  .nc-attachment .nc-attachment-file.error {
    border-color: var(--nc-attachment-file-border-color-error);
  }

  .nc-attachment .file-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }

  .nc-attachment .fade-out {
    animation: fadeOut var(--nc-attachment-transition-duration) ease-out;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}
