/* @tailwind base; */

/* input components base variables */
/* @layer base { */
:root {
  --nc-input-padding: var(--nc-form-padding-y) var(--nc-form-padding-x);

  --nc-input-color: theme('colors.slate.900');
  --nc-input-color-placeholder: theme('colors.slate.400');

  --nc-input-bg-color: theme('colors.white');
  --nc-input-bg-color-disabled: theme('colors.gray.100');

  --nc-input-border-color: theme('colors.gray.500');
  --nc-input-border-color-focus: var(--nc-primary-color);
  --nc-input-border-width: 0;
  --nc-input-border-radius: var(--nc-global-border-radius);
  --nc-input-border-border: var(--nc-input-border-width) solid var(--nc-input-border-color);

  --nc-input-box-shadow-color: theme('colors.gray.300');
  --nc-input-box-shadow-color-focus: var(--nc-primary-color);
  --nc-input-box-shadow-offset-width: 1px;
  --nc-input-box-shadow-offset-width-focus: 2px;

  --nc-input-group-addon-color: theme('colors.slate.400');
  --nc-input-group-addon-background: theme('colors.slate.50');
}
/* } */

.nc-input,
.nc-input-group {
  --nc-input-box-shadow:
    inset 0 0 0 0px var(--nc-input-box-shadow-color),
    inset 0 0 0 var(--nc-input-box-shadow-offset-width) var(--nc-input-box-shadow-color);
}

.nc-input:hover,
.nc-input:focus,
.nc-input-group:hover,
.nc-input-group:focus-within {
  --nc-input-box-shadow-focus:
    inset 0 0 0 0px var(--nc-input-box-shadow-color-focus),
    inset 0 0 0 var(--nc-input-box-shadow-offset-width-focus) var(--nc-input-box-shadow-color-focus);
}

/* common */
input.nc-input,
textarea.nc-input,
.nc-input-group {
  border: var(--nc-input-border-color);
  border-radius: var(--nc-input-border-radius);
  box-shadow: var(--nc-input-box-shadow);
}

input.nc-input:focus,
textarea.nc-input:focus,
.nc-input-group:focus-within {
  box-shadow: var(--nc-input-box-shadow-focus);
}

/* input */
input.nc-input,
textarea.nc-input {
  color: var(--nc-input-color);
  padding: var(--nc-input-padding);
}

input.nc-input::placeholder,
textarea.nc-input::placeholder {
  color: var(--nc-input-color-placeholder);
}

input.nc-input:disabled,
textarea.nc-input:disabled {
  cursor: no-drop;
  background-color: var(--nc-input-bg-color-disabled);
}

/* input group */
.nc-input-group {
  display: flex;
  background-color: var(--nc-input-bg-color);
}

.nc-input-group .nc-input-addon {
  display: flex;
  /* flex: 1 1 auto; */
  align-items: center;
  flex-shrink: 0;
  color: var(--nc-input-group-addon-color);
  padding: var(--nc-input-padding);
}

.nc-input-group input.nc-input {
  display: block;
  flex: 1 1 0%;
  border-radius: 0;
}

.nc-input-group *:first-child {
  border-top-left-radius: var(--nc-input-border-radius);
  border-bottom-left-radius: var(--nc-input-border-radius);
}

.nc-input-group *:last-child {
  border-top-right-radius: var(--nc-input-border-radius);
  border-bottom-right-radius: var(--nc-input-border-radius);
}

.nc-input-group.nc-input-group-transparent input.nc-input {
  background-color: unset;
}

.nc-input-group.nc-input-group-transparent input.nc-input,
.nc-input-group.nc-input-group-transparent input.nc-input:hover,
.nc-input-group.nc-input-group-transparent input.nc-input:focus {
  background: none;
  box-shadow: none;
}

.nc-input-group.nc-input-group-transparent .nc-input-addon + input.nc-input {
  padding-left: 0;
}

.nc-input-group.nc-input-group-transparent input.nc-input {
  padding-left: 0;
}

.nc-input-group.nc-input-group-transparent input.nc-input + .nc-input-addon {
  padding-left: 0;
}
