@theme {
  --nc-dropdown-width: 200px;
  --nc-dropdown-background: theme('colors.white');
  --nc-dropdown-padding: theme('padding.2');
  --nc-dropdown-radius: var(--nc-global-border-radius);
  --nc-dropdown-font-size: theme('fontSize.sm');
  --nc-dropdown-arrow-gap: theme('padding.2');
}

@layer components {
  .nc-dropdown-pane {
    width: var(--nc-dropdown-width);
    padding: var(--nc-dropdown-padding);
    border-radius: var(--nc-dropdown-radius);
    font-size: var(--nc-dropdown-font-size);
    display: block;
  }

  .nc-dropdown-pane.autosize {
    width: auto;
    min-width: var(--nc-dropdown-width);
  }

  .nc-overlay-container.nc-dropdown-overlay {
    --nc-overlay-current-background: var(--nc-dropdown-background);
    --nc-overlay-current-arrow-gap: var(--nc-dropdown-arrow-gap);
  }
}
